$width: 700px;
$height: 350px;

[my-slider-window] {
  position: relative;
  overflow: hidden;

  /* Customize the dimensions of your my-slider */
  height: $height;
  width: $width;
}

[my-slider-item-list] {
  position: absolute;
  left: 0;
  top: 0;
  white-space: nowrap;
}

[my-slider-item] {
  display: inline-block;
}

.slider {
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  position: relative;
  padding: 5px 5px 0;
  border: 1px solid #ccc;
  width: $width + 12px;
}

.slider .slider-item-list {
  margin: 0;
  -webkit-transition: left 0.25s cubic-bezier(0.755, 0.05, 0.855, 0.06);
  -moz-transition: left 0.25s cubic-bezier(0.755, 0.05, 0.855, 0.06);
  -ms-transition: left 0.25s cubic-bezier(0.755, 0.05, 0.855, 0.06);
  -o-transition: left 0.25s cubic-bezier(0.755, 0.05, 0.855, 0.06);
  transition: left 0.25s cubic-bezier(0.755, 0.05, 0.855, 0.06);
}
.slider .slider-item-list.wrapping {
  -webkit-transition: left 0.75s cubic-bezier(0.95, -0.4, 0.6, 1.15);
  -moz-transition: left 0.75s cubic-bezier(0.95, -0.4, 0.6, 1.15);
  -ms-transition: left 0.75s cubic-bezier(0.95, -0.4, 0.6, 1.15);
  -o-transition: left 0.75s cubic-bezier(0.95, -0.4, 0.6, 1.15);
  transition: left 0.75s cubic-bezier(0.95, -0.4, 0.6, 1.15);
}
.slider .slider-item img {
  display: block;
  width: $width;
  height: $height;
}
.slider .slider-indicators {
  padding: 15px 0;
  text-align: center;
  line-height: 0;
}
.slider .slider-indicators .indicator {
  display: inline-block;
  text-indent: -999em;
  width: 12px;
  height: 12px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background-color: #e0e0e0;
  line-height: 0;
  cursor: pointer;
}
.slider .slider-indicators .indicator.selected {
  background-color: #555;
}
.slider .slider-indicators .indicator + .indicator {
  margin-left: 6px;
}

.slider .slider-nav {
  margin: 0;
}
.slider .slider-nav .text {
    display: none;
}
.slider .slider-nav .icon {
  font-size: 40px;
  line-height: $height;
  padding: 0 15px;
  opacity: 0.5;
  color: #fff;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.6);
  -webkit-transition: opacity 0.1s ease-in;
  -moz-transition: opacity 0.1s ease-in;
  -ms-transition: opacity 0.1s ease-in;
  -o-transition: opacity 0.1s ease-in;
  transition: opacity 0.1s ease-in;
}
.slider .slider-nav a:hover .icon {
  -webkit-transition: opacity 0.25s ease-in;
  -moz-transition: opacity 0.25s ease-in;
  -ms-transition: opacity 0.25s ease-in;
  -o-transition: opacity 0.25s ease-in;
  transition: opacity 0.25s ease-in;
  opacity: 1;
}
.slider .slider-nav .previous, .slider .slider-nav .next {
  position: absolute;
  top: 5px;
  height: $height;
  width: 45%;
  text-decoration: none;
}
.slider .slider-nav .previous {
  left: 5px;
  text-align: left;
}
.slider .slider-nav .next {
  right: 5px;
  text-align: right;
}


