.gallery {

}

.gallery__slider-container {
  & .slider {
    margin: 0 auto;
  }
}

.gallery__menu {
  padding-top: 15px;
  padding-bottom: 15px;
 }

.gallery__images {

    & img {
      height: 250px;
      max-width: 250px;
    }

}

.gallery__footer {
  text-align: center;
}

.modal-backdrop {
  position: fixed;
  bottom: 0;
}


