// first time using BEM methodology :)

.gallery {

}

.gallery__slider-container {
  & .slider {
    margin: 0 auto;
  }
}

.gallery__menu {
  padding-top: 15px;
  padding-bottom: 15px;
 }

.gallery__images {

    & img {
      height: 250px;
      max-width: 250px;
    }

    & .thumnail-container {
      position: relative;

      & .delete {
        font-size: 11px;
        left: 0;
        bottom: 20px;
        width: 100%;
        text-align: center;
        transition: bottom linear 0.2s, z-index linear 0.1s 0.1s;
        position: absolute;
        z-index: -1;
      }

      &:hover .delete {
        bottom: 5px;
        z-index: 1;
      }
    }

}

.gallery__footer {
  text-align: center;
}

.modal-backdrop {
  position: fixed;
  bottom: 0;
}


