<div class="gallery row">


    <div class="gallery__slider-container col-lg-12">
     <div my-slider auto-slide="true" auto-slide-time="{{gallery.autoRotateTime}}" class="slider">

       <div my-slider-window class="slider-window">
         <div my-slider-item-list class="slider-item-list">
           <div my-slider-item class="slider-item" ng-repeat="img in ::gallery.allImages">
              <img src="{{img.url}}" alt="">
           </div>
         </div>
       </div>
     </div>
    </div>

  <div class="gallery__menu col-lg-12">

    <form class="form-inline">
      <div class="form-group">
        <label for="exampleInputEmail2">Sort By Type</label>
        <select
          ng-if="gallery.sorting"
          ng-model="gallery.sortType"
          ng-options="type for type in gallery.sortTypes track by type"
          class="form-control" >
        </select>
      </div>
        <div class="form-group">
          <label for="exampleInputEmail2">Sort By Type</label>
          <select
            ng-model="gallery.resultsPerPage"
            ng-options="opt for opt in gallery.resOptions track by opt"
            class="form-control">
            <option value="">Choose Amount</option>
          </select>
        </div>
        <div class="form-group">
          <input type="search" placeholder="Search for image" ng-model="gallery.searchFilter" class="form-control" />
        </div>
    </form>

  </div>
<!-- | limitTo: gallery.resultsPerPage | filter:gallery.searchFilter)" -->

  <div class="gallery__images">
  <!-- used https://github.com/IronSummitMedia/startbootstrap-thumbnail-gallery -->
    <div ng-repeat="img in gallery.visibleImages = (gallery.currentPageImages | orderBy:gallery.sortType)"  class="col-lg-3 col-md-4 col-xs-6 thumb">
      <a ng-click="gallery.enlargeImage(img)" class="thumbnail">
        <img ng-src="{{img.url}}" class="img-responsive" title="{{img.title}}" alt="" />
      </a>
    </div>
  </div>

  <div class="gallery__footer col-lg-12">
    <pagination total-items="gallery.filteredImages.length" items-per-page="gallery.resultsPerPage" ng-model="gallery.pageNum" ng-change="gallery.updateGallery(gallery.filteredImages)"></pagination>
  <div>
</div>

